/* Basic - start */
:root {
    --font-size: 16px;
    --min-width: 200px;
    --max-width: 700px;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-size);
    scrollbar-color: var(--color-scrollbar) var(--color-bg);
}

body {
    background: var(--color-bg);
    color: var(--color-fg);
}

.container {
    margin: auto;
    padding: 0 20px;
    min-width: var(--min-width);
    max-width: var(--max-width);
}
/* Basic - end */



/* Header - start */
.header {
    font-size: 1.2rem;
    padding: 15px 0;
    border-bottom: dashed 2px currentColor;
    user-select: none;
}

.nav {
    display: flex;
}

.nav .home {
    margin-right: auto;
}

.nav a {
    color: var(--color-fg);
    padding-right: 10px;
}
/* Header - end */



/* List - start */
ul.list {
    list-style: none;
    padding: 0;
}

.list li {
    padding: .5em 0;
    border-top: 2px dashed var(--color-scrollbar);
}

.list li span {
    float: right;
    padding-left: .5em;
}
/* List - end */



/* Content - start */
a {
    text-decoration: none;
    color: var(--color-link);
}

a:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
}

blockquote {
    color: var(--color-blockquote);
    border-left: 5px solid currentColor;
    padding-left: 20px;
    margin-left: 0;
}

/* code */
code {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace !important;
    font-size: .85em;
    padding: .1em .2em;
    border-radius: 4px;
    background: var(--color-code-bg);
}

pre code {
    padding: 0;
    border-radius: 0;
    background: none;
}

pre {
    padding: .5em;
    overflow: auto;
    background: var(--color-code-bg);
    border: 2px solid var(--color-scrollbar);
    border-radius: 4px
}

/* table */
table {
    margin: 1em 0;
    display: block;
    overflow: auto;
    border-collapse: collapse;
}

table td, table th {
    border: 2px solid currentColor;
    padding: 8px;
}

table th {
    background: var(--color-table-th);
}

table tr:nth-child(even) {
    background: var(--color-table-tr-even);
}
/* Content - end */



/* Media - start */
img {
    max-width: 100%;
}

figure img {
    width: 100%;
}

figure {
    background: var(--color-code-bg);
    margin: 1rem 0;
    border: 2px solid var(--color-scrollbar);
    border-radius: 4px;
}

figcaption h4 {
    margin: .5rem;
    text-align: center;
}
/* Media - end */



/* Fuck webkit xoxo */
::-webkit-scrollbar {
    background: var(--color-bg);
}
::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
}
